@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2");
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", "PingFang SC", "Microsoft YaHei", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

p,
a {
  word-break: break-all;
}

.container {
  max-width: 960px;
}

.mywords {
  width: 1200px;
  max-width: calc(100% - 32px);
  margin: 20px auto;
}

@media (max-width: 420px) {
  .mywords {
    margin: 20px auto;
    width: auto;
  }
}

.icon-link > .bi {
  width: 0.75em;
  height: 0.75em;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.lead > .icon-link > .icons {
  transition: transform 0.4s;
}

.lead > .icon-link:hover > .icons {
  transform: translateX(4px);
}

a,
.btn,
.nav-link {
  transition: all 0.3s ease-in-out;
}

a:focus,
.btn:focus,
.nav-link:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.card-image {
  display: block;
  width: 80%;
  height: 300px;
  object-fit: cover;
  border-radius: 21px 21px 0 0;
}

a {
  text-decoration: none;
}

u {
  text-decoration: underline dotted;
}

.nav-link.active {
  background-color: #0d6efd;
  border-radius: 4px;
}
